# Global ignores

# IDEs and editor configs
.vscode/
settings.json

# macOS
.DS_Store

# Python
**/__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/
venv/

# Data files
*.xlsx
*.csv

# Logs / temp
*.log
*.tmp
